.resetPageContainer {
  display: flex;
  justify-content: center;
  height: 90vh;
  background-color: #f3f6f6;
}
.resetItemsContainer {
  width: 40%;
}
.resetItemsContainer > h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-style: oblique;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.mailInput {
  border: 1px solid rgb(221, 221, 221);
  padding: 10px;
  height: 20px;
  width: 500px;
}
.resetItemsContainer > p {
  margin-bottom: 20px;
  margin-top: 5px;
}
.submitResetButton {
  cursor: pointer;
  border: none;
  color: white;
  background-color: #046bf6;
  height: 40px;
  width: 80px;
  border-radius: 8px;
}
.submitResetButton:hover {
  border: 1px solid #046bf6;
  background-color: white;
  color: #046bf6;
}
